@tailwind base;
@tailwind components;
@tailwind utilities;

/* .fahad {
  background-image: radial-gradient(
    97% 5%,

    #af1222,
    #050505,
    #050505,
    #050505,
    #050505,
    #050505,
    #050505,
    #050505
  );
  height: min-content;
}

.fahad-2 {
  background-image: radial-gradient(
    closest-corner at 5% 97% #af1222,
    #050505,
    #050505,
    #050505,
    #050505,
    #050505,
    #050505,
    #050505
  );
} */
